<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PostgreSQLConnection"
			 connectionString="Host=ep-billowing-salad-a4a4p8f9-pooler.us-east-1.aws.neon.tech;Port=5432;Username=gizindir_db_owner;Password=npg_viwZjXpFd97g;Database=gizindir_db;SSL Mode=Require;Trust Server Certificate=true"
			 providerName="Npgsql" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
